body {background-color:rgb(180,180,180);color:rgb(255,255,255);}
.logo {color:rgb(220,34,115); font-size:x-large;font-weight:bolder;}
.option {margin-right: 1em;}
a { text-decoration:none;color:rgb(255,255,255);}
